/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* font style for Heading */
/* font style for articles */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poly:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-primary {
  font-family: "Lato", sans-serif;
  /* font-family: 'Libre Baskerville', serif; */
  font-weight: 700;
  font-style: normal;
}

p,
li,
a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2.h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button-primary-bg {
  background: #2c2c2c;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ellipse 7 */
.homepage-circle {
  background: rgba(115, 140, 165, 0.2);
  filter: blur(50px);
}

.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  /* Black with 50% opacity */
  z-index: 1;
}

.feedback-card-shadow {
  box-shadow: 0px 0px 12.7px 2px #d1d1d1;
}

/* Customize the container of the dots */
.slick-dots {
  bottom: -30px;
  /* Position the dots */
}

.slick-current img {
  scale: 1.125;
}

/* Customize each dot */
.slick-dots li {
  margin: 0 5px;
  /* Space between dots */
}

/* Customize the dot button */
.slick-dots li button {
  background-color: #bbb;
  /* Dot color */
  border-radius: 50%;
  /* Make dots round */
  width: 12px;
  /* Dot size */
  height: 12px;
  /* Dot size */
  padding: 0;
  /* Remove padding */
  cursor: pointer;
  /* Change cursor on hover */
}

/* Customize the active dot */
.slick-dots li.slick-active button {
  background-color: #333;
  /* Active dot color */
}

.slick-dots li button:before {
  visibility: hidden;
}

/* 
::-webkit-scrollbar {
   display: none;
}
.slick-slide {
    padding: 0 10px; 
  } */

.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999;
  /* transition: height ease-in;
    transition: width ease-in;
    transition-duration: 300ms; */
}

.custom-cursor.hover {
  width: 40px;
  height: 40px;
}

.font-article {
  font-family: "sans", serif;
  font-weight: 400;
}

/* body {
    cursor: none;
} */

#our-methods-wrapper .pin-spacer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.tw-range {
  appearance: none;
  background-color: #d9d9d9;
  border-radius: 500px;
  height: 6px;
  width: 100%;
  outline: none;
}

.tw-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 10;
  border-radius: 999px;
  /* background-color: hsl(0, 0%, 0%); */
  background-image: url('../assets/images/pricing/Scroll-circle.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tw-range::-webkit-slider-thumb:active {
  /* background-color: hsl(0, 0%, 0%); */
  transition-duration: 200ms;
}

.price-range-tick {
  background-color: #fff;
  border: 4px solid #e0e0e0;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

.price-range-tick._0 {
  margin-left: 0;
  left: 0;
}

.price-range-tick._1 {
  left: 18.5%;
}

.price-range-tick._2 {
  left: 37%;
}

.price-range-tick._3 {
  left: 55.5%;
}

.price-range-tick._4 {
  left: 74%;
}

.price-range-tick._5 {
  right: 0%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dbdbdb #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 21px;
  border: 8px solid #ffffff;
}

.slick-prev:before {
  /* content: "<"; */
  color: gray;
  font-size: 40px;
}

.slick-next:before {
  /* content: ">"; */
  color: gray;
  font-size: 40px;
}

.slick-prev:before,
.slick-next:before {
  position: absolute;
  left: -11px;
}

@media only screen and (max-width:768px) {
  .slick-arrow {
    display: none !important;
  }
}
